{% extends ":admin/dashboard:dashboard.html.twig" %}

{% block top_tiles %}
    {% if is_granted('ROLE_CLIENT') %}
        {{ parent() }}
    {% endif %}
{% endblock top_tiles %}

{% block infos %}
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Planning de congés</h2>
                <div class="pull-right">
                    Statut:
                    <i id="pending" class="fa fa-square fa-lg legend_pending_event"></i>En attente
                    <i id="validate" class="fa fa-square fa-lg legend_validate_event"></i>Validé
                    <i id="denied" class="fa fa-square fa-lg legend_denied_event"></i>Refusé
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
{% endblock infos %}