{% extends "::auth-base-layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content%}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form  method="POST" class="fos_user_resetting_request">
                     <h1>{{ 'label.title.login'|trans({}, 'label') }}</h1>
                    <div class="alert alert-success alert-dismissable">{{ 'resetting.check_email'|trans({'%email%': email}) }}</div>
                    <a href="{{ url('fos_user_security_login') }}" title="Revenir à l’écran de connexion">{{ 'label.button.back'|trans({}, 'label') }}</a>
                    <div class="separator">
                        <div class="clearfix"></div>
                        <div>
                            <h1><i class="fa fa-paw"></i> Bocasay_</h1>
                            <p>©2016 All Rights Reserved. Bocasay Team Agency. Privacy and Terms</p>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock fos_user_content%}