{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <h1>Gestion Congé</h1>
    <div class="form-group">
        {% if invalid_username is defined %}
            <div class="alert alert-danger alert-dismissable">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</div>
        {% endif %}
        <input type="text" id="username" name="username" required="required" class="form-control" placeholder="{{ 'resetting.request.username'|trans }}" />
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-dark btn-block btn-flat" id="_submit" name="_submit">{% trans from 'FOSUserBundle' %}resetting.request.submit{% endtrans %}</button>
        </div>
    </div>
    <div class="separator">
        <div class="clearfix"></div>
        <div>
            <h1><i class="fa fa-paw"></i> Bocasay_</h1>
            <p>©2016 All Rights Reserved. Bocasay Team Agency. Privacy and Terms</p>
        </div>
    </div>
</form>

